<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RECRUIT || 403</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="#" th:href="@{/css/error.css}" rel="stylesheet"/>
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <img src="../static/images/403.jpg" th:src="@{/images/403.jpg}"/>
    </div>
    <br/>
    <br/>

    <div class="container">
        <a th:href="@{/inicio}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Volver a Inicio</button>
        </a>
    </div>

</div>
</body>
</html>