*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header{
    width: 100%;
    background: rgba(0,0,0,.8);
    height: 70px;
    position: fixed;
    z-index: 10;
}
.cuerpo{
    padding-top: 300px;
    padding-bottom: 300px;
}

.ancho{
    width: 80%;
    height: 70px;
    /*background: red;*/
    margin: auto;

}

.logo{
    width: 30%;
    height: 70px;
    /*background: blue;*/
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo p a{
    color: #fff;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    font-family: rale;
}

nav{
    width: 70%;
    height: 70px;
    /*background: gray;*/
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: rale;
    transition: 1s;
}

nav ul li a:hover{
    color: blue;
}
.cuerpo{
    width: 70%;
    border:2px solid #2e6da4;
    margin: 20px;
    padding: 100px;
    text-align: center;
}

.dosColumnas{
    margin-top: 50px;
}
.formulario{
    float: inherit;
    width: 100%;
    margin:auto;
    color: #999;
}
.caja1{
    width: 770px;
    height: 40px;
    margin: 20px;
    padding: 15px;
    font-size: 14px;
}
.caja2{
    width: 770px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
    max-height: 300px;
}
.caja1:focus, caja2{
    border: 1px solid #2edf11;
}

.correr{
    margin: 20px;
    padding: 10px;
    margin-bottom: 300px;
}
.uname{
    font-size: 18px;
    display: block;
    width: 100%;
}
.inicio{
    background: lawngreen;
    color: #fff;
    boder: none;
    transition: 0.8s;
    padding: 10px;
    width: 30%;
    font-size: 25px;
    margin: 20px;

}
.inicio:hover{
    transition: 1s;
    background: blue;
}
.aplicar{
    text-decoration: none;
    text-align: center;
    float: right;
    align-content: center;
    align-items: center;

}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
/*Estilo para poner las particulas y fondo con imagenes, letras y efectos. */




