<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Formulario de Vacantes</title>
    <link rel="stylesheet" href="/css/formulario.css" />
</head>
<body>
<header>
    <div class="ancho">
        <div class="logo">
            <p><a th:href="@{/inicio}">RecruitWeb</a></p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>

            </ul>
        </nav>
    </div>
</header>

<section class="cuerpo">
    <div class="formulario">
        <form  th:action="@{/agregarVacante}" th:object="${vacante}" method="post" autocomplete="on">
            <div>

            <h1>Completa el formulario </h1>
            </div>
            <p>
                <label class="uname" >Nombre de la Vacante:</label>
                <input required="required" type="text" name="apellido" th:field="*{nombreVacante}"   class="caja1"/>
            </p>
            <p>
                <label class="uname" >Nombre de compañia:</label>
                <input  required="required" type="text" name="nombre" th:field="*{empresa}"  class="caja1"/>
            </p>

            <p>
                <label class="uname" >Pueto Vacante:</label>
                <input required="required" type="text" name="apellido" th:field="*{puestoVacante}"  class="caja1"/>
            </p>
            <p>
                <label class="uname" >Ciudad:</label>
                <input required="required" type="text" name="direccion" th:field="*{localidad}"  class="caja1"/>
            </p>
            <p>
                <label class="uname" >Actividad:</label>
                <input required="required" type="text" name="telefono" th:field="*{actividad}"  class="caja1"/>
            </p>
            <p>
                <label class="uname" >Area:</label>
                <input required="required" type="text" name="telefono" th:field="*{area}"  class="caja1"/>
            </p>
            <p>
                <label class="uname" >Requisitos:</label>
                <input required="required" type="text" name="telefono" th:value="*{requisitos}"  class="caja2"/>
            </p>
            <p>
                <label class="uname" >Salario:</label>
                <input required="required" type="text" name="telefono" th:field="*{salario}" class="caja1"/>
            </p>
            <p>
                <label class="uname" >Horario:</label>
                <input required="required" type="text" name="telefono" th:field="*{horario}" class="caja1"/>
            </p>

            <p class="Inicio button">
                <input class="inicio" type="submit" value="Enviar"/>
            </p>

        </form>
    </div>
</section>
</body>
</html>