<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Gestion de Ofertas y empleos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Best Industry Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/lightbox.css"/>
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="all"/>
    <!--// css -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'/>
    <!-- //font -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- FlexSlider-JavaScript -->
    <script src="js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function () {
            SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //FlexSlider-JavaScript -->
</head>
<body>

<!-- navigation -->
<div class="nav-links">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="/images/logo.PNG"/></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav link-effect">
                    <li class="active"><a th:href="@{/inicio}">Inicio</a></li>
                    <li><a href="#about" class="scroll">Sobre Nosotros</a></li>
                    <li><a href="#services" class="scroll">Servicios</a></li>
                    <li><a href="#projects" class="scroll">Vacantes</a></li>
                    <li><a href="#team" class="scroll">Team</a></li>
                    <li><a href="#contact" class="scroll">Contacto</a></li>
                    <li><a th:utext="${usuario}">Login</a></li>
                    <li><a th:href="@{/login?logout}">Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- /navigation -->

<!-- banner-->
<div class="banner-agile">
    <div class="banner-text-agileinfo">
        <h2>Gestiona tu Trabajo</h2>
        <p>La manera más fácil y automatizada de encontrar Vacantes, te la ofrecemos en nuestra RECRUIT Gestión de
            ofertas y solicitud de empleos.</p>
    </div>
</div>
<!-- /banner-->

<!--about -->
<div class="about-agileits" id="about">
    <div class="container">
        <h3>Sobre Nosotros</h3>
        <label class="line"></label>
        <p class="top-p">RECRUIT es la empresa de gestión de ofertas y empleos líder en la República Dominicana, que
            ofrece la más completa gama de soluciones de cumplir con las ofertas de trabajo de diferentes entidades y
            gestionar empleos para individuos con ciertos requerimientos solicitados para suplir las necesidades de
            empresas buscando candidatos y candidatos en busca de empleo, desde servicios de voz móviles y fijos,
            transmisión de datos a alta velocidad, redes IP.</p>
    </div>
    <a class="hiddenanchor" id="toregister"></a>
    <div class="col-md-6 about-left"></div>
    <div class="col-md-6 about-right">
        <h4>Gestion de reclutamiento de personal</h4>
        <p>Para inscribirte como interesado en buscar empleo debes dirigirte a la parte de Candidato que está
            debajo. </p>
        <p class="sec-p"></p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!--<a href="#" data-toggle="modal" data-target="#myModal">Incribir Vacantes..</a>-->
    </div>
    <div class="clearfix"></div>
</div>

<!-- services -->
<div class="services-w3" id="services">
    <div class="container">
        <h3>Servicios</h3>
        <label class="line"></label>
        <p class="top-p">Nuestra empresa te ofrece los servicios necesarios para tu registro exitoso en nuestras
            sucursales o directamente desde tu hogar vía web, a continuación, solo debes registrarte en nuestros
            servicio.</p>
        <div class="col-md-4 services-grids-w3l">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            <p>Configuracion</p>
        </div>
        <div class="col-md-4 services-grids-w3l">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
            <p>Empresas</p>
        </div>
        <div class="col-md-4 services-grids-w3l">
            <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
            <p>Administrador</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /services -->


<!-- skills -->
<div class="skills-w3ls">
    <div class="container">
        <h3>Our Skills</h3>
        <div id="demo-pie-1" class="pie-title-center" data-percent="00"><span class="pie-value"></span>
            <p style="color: white">Asistente Contabilidad</p></div>
        <div id="demo-pie-2" class="pie-title-center" data-percent="00"><span class="pie-value"></span>
            <p style="color: white">QA Manager</p></div>
        <div id="demo-pie-3" class="pie-title-center" data-percent="00"><span class="pie-value"></span>
            <p style="color: white">Gerente de Ventas</p></div>
        <div id="demo-pie-4" class="pie-title-center" data-percent="00"><span class="pie-value"></span>
            <p style="color: white">Encargado de RH</p></div>
    </div>
</div>
<!-- /skills -->
<!--gallery-->
<div class="gallery" id="projects">
    <div class="container">
        <h3>Vacantes</h3>
        <label class="line"></label>
        <p class="top-p">A continuación, presentaremos las bacantes disponibles de las diferentes empresas registradas
            en nuestra aplicación.</p>
    </div>

    <div class="">
        <div class="">
            <table class="tablita" border="1">
                <tbody>
                <tr th:each=" vacante : ${vacantes}">
                    <td th:text="${vacante.nombreVacante}"></td>
                    <td th:text="${vacante.empresa}"></td>
                    <td th:text="${vacante.localidad}"></td>
                    <td>
                        <a th:href="@{/verVacante?id=__${vacante.id}__}">
                            <button type="button" class="btn btn-default">Ver Vacante</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div  class="agregar" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/formularioVacantes}">Agregar Vacante</a>
        </div>
        <div  class="agregar" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/solicitudes}">Ver Solicitudes Vacantes</a>
        </div>

        <div class="clearfix"></div>
    </div>
    <script src="js/lightbox-plus-jquery.min.js"></script>
</div>
<!--//gallery-->
<!-- team -->
<div class="team" id="team">
    <div class="container">
        <h3>Conozca a nuestro equipo</h3>
        <label class="line"></label>
        <p class="top-p">El Team está compuesto por tres estudiantes de la universidad Acción Pro Educación y Cultura de
            la Republica Dominicana, donde la idea surgió de una de las asignaturas que estaban cursando. De manera
            Random les tocó el tema sobre el sistema de Gestión de ofertas y empleos.</p>
        <div class="agile_team_grids">
            <div class="col-md-4 agile_team_grid agile1">
                <div class="agile_team_grid_main">
                    <img src="images/t1.jpg" alt=" " class="img-responsive"/>
                    <div class="p-mask">
                        <ul class="social-icons">
                            <li><a href="https://twitter.com/EdgarValdez07" target="none"><i class="fa fa-twitter"
                                                                                             aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/edgarvaldez17" target="none"><i class="fa fa-facebook"
                                                                                                  aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/edgar-valdez-63b36b11a/" target="none"><i
                                    class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="agile_team_grid1">
                    <h4>Edgar Valdez</h4>
                    <p>Ingeniero de Software</p>
                </div>
            </div>
            <!--<div class="col-md-4 agile_team_grid agile2">-->
                <!--<div class="agile_team_grid_main">-->
                    <!--<img src="images/t2.jpg" alt=" " class="img-responsive"/>-->
                    <!--<div class="p-mask">-->
                        <!--<ul class="social-icons">-->
                            <!--<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                            <!--<li><a href="https://www.facebook.com/itzel.gomez.7796420" target="none"><i-->
                                    <!--class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                            <!--<li><a href="https://www.linkedin.com/in/harolim-itzel-gomez-rondon-7222109b/"-->
                                   <!--target="none"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="agile_team_grid1">-->
                    <!--<h4>Harolim Gomez</h4>-->
                    <!--<p>Ingeniera de Software designer</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 agile_team_grid agile3">-->
                <!--<div class="agile_team_grid_main">-->
                    <!--<img src="images/t3.jpg" alt=" " class="img-responsive"/>-->
                    <!--<div class="p-mask">-->
                        <!--<ul class="social-icons">-->
                            <!--<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                            <!--<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                            <!--<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="agile_team_grid1">-->
                    <!--<h4>Rafael Custodio</h4>-->
                    <!--<p>General Manager ISO</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //team -->

<!-- Clients -->
<div class="clients">
    <div class="container">
        <h3>Testimonials</h3>
        <label class="line"></label>
        <h4>What Our Clients Say</h4>
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="images/c1.png" alt=""/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                        <div class="client">
                            <h5>Brian Fantana</h5>
                        </div>
                    </li>
                    <li>
                        <img src="images/c2.png" alt=""/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                        <div class="client">
                            <h5>Brick Tamland</h5>

                        </div>
                    </li>
                    <li>
                        <img src="images/c3.png" alt=""/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                        <div class="client">
                            <h5>Ron Burgundy</h5>

                        </div>
                    </li>
                    <li>
                        <img src="images/c4.png" alt=""/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                        <div class="client">
                            <h5>Arturo Mendez</h5>

                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </div>
</div>

<!-- //Clients -->

<div class="contact-wthree" id="contact">
    <div class="container">
        <h3>Contáctanos</h3>
        <label class="line"></label>
        <p class="top-p">Para enviarnos tus criticas o solucionar tus problemas con nuestras redes.Conocenos mejor.</p>
        <div class="col-sm-8 w3layouts-agileits contact-left">
            <form name="Formulario Contacto" action="#" method="get" class="my-form">
                <input type="text" name="name" placeholder="Name" required="required"/>
                <input type="email" name="email" class="email" placeholder="Email" required="required"/>
                <textarea class="fill message" name="Message" placeholder="Message" required=""></textarea>
                <input class="submit" type="submit" name="Send" value="SEND"/>
            </form>
        </div>

        <div class="col-sm-4 w3layouts-agileits contact-right">
            <div class="w3layouts-address">
                <address>
                    <strong class="bold">RECRUIT</strong><br/>
                    Gazcue/Calle Santiago #108,<br/>
                    Para ayuda en linia<br/>
                    <abbr title="Phone">Mobile : </abbr> 0025-89674532 o 809-564-7272<br/>
                    <abbr title="Phone">Phone : </abbr> 040-1654321-9 o 849-806-7373
                </address>

                <address>
                    <strong class="bold">Email</strong><br/>
                    <a class="mail" href="mailto:info@example.com">recruitments@outlook.com</a>
                </address>
                <address>
                    <strong class="bold">Estamos en redes sociales</strong><br/>
                    <div>
                        <ul class="agileits-company-social">
                            <li><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                            <!--<li><a href="#" target="_blank" title="dribbble"><i class="fa fa-dribbble"></i></a></li>-->
                            <li><a href="#" target="_blank" title="google plus"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </address>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p>&copy; 2017 Best Industry. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts </a>
        </p>
    </div>
</div>
<script src="js/pie-chart.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#demo-pie-1').pieChart({
            barColor: '#2edf11',
            trackColor: '#eee',
            lineCap: 'round',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-2').pieChart({
            barColor: '#2edf11',
            trackColor: '#eee',
            lineCap: 'butt',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-3').pieChart({
            barColor: '#2edf11',
            trackColor: '#eee',
            lineCap: 'square',
            lineWidth: 8,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-4').pieChart({
            barColor: '#2edf11',
            trackColor: '#eee',
            lineCap: 'round',
            lineWidth: 8,
            rotate: 90,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });
    });

</script>
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- //start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
</body>
</html>