<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>Inicio de sesión y formulario de registro</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet"/>
    <link rel="stylesheet" href="/css/login.css"/>

</head>
<body>
<div class="container">

    <header>
        <h1>Inicio de sesión y formulario de registro</h1>

    </header>
    <section>
        <div id="container_demo">
            <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form th:action="@{/checkLogin}" method="post">
                        <h1>Iniciar sesión</h1>

                        <label for="nombreUsuario" class="uname"> Tu email o nombre de usuario </label>
                        <input id="nombreUsuario" name="nombreUsuario" required="required" type="text"/>

                        <label for="contrasenia" class="youpasswd"> Tu contraseña </label>
                        <input id="contrasenia" name="contrasenia" required="required" type="password"/>

                        <div th:if="${error != null}" class="alert alert-danger" role="alert">Usuario o Contraseña son invalidos</div>

                        <button type="submit">Entrar</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>
</body>
</html>
