<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Solicitudes Vacantes</title>
    <link rel="stylesheet" href="/css/formulario.css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/lightbox.css"/>
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="all"/>
    <!--// css -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'/>
    <!-- //font -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- FlexSlider-JavaScript -->
    <script src="js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function () {
            SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
</head>
<body>
<header>
    <div class="ancho">
        <div class="logo">
            <p><a th:href="@{/inicio}">RecruitWeb</a></p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>

            </ul>
        </nav>
    </div>
</header>
<section class="cuerpo">
    <div class="">
        <div class="">
            <table class="tablaSolicitudes" border="1">
                <tbody>
                <tr th:each=" solicitud : ${solicitudes}">
                    <td th:text="${solicitud.nombreCandidato}"></td>
                    <td th:text="${solicitud.apellido}"></td>
                    <td th:text="${solicitud.direccion}"></td>
                    <td th:text="${solicitud.telefono}"></td>
                    <td th:text="${solicitud.email}"></td>
                    <td th:text="${solicitud.cedula}"></td>
                    <td th:text="${solicitud.salarioDeseado}"></td>
                    <td>
                        <button class="btn btn-default">Aceptar</button>
                    </td>
                    <td>
                        <button class="btn btn-default">Rechazar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>