<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Formulario de Vacantes</title>
    <link rel="stylesheet" href="/css/formulario.css" />
</head>
<body>
<header>
    <div class="ancho">
        <div class="logo">
            <p><a th:href="@{/inicio}">RecruitWeb</a></p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>

            </ul>
        </nav>
    </div>
</header>

<section class="cuerpo">
    <div class="formulario">
        <form  th:action="@{/agregarVacante}" th:object="${vacantes}" method="post" autocomplete="on">
            <h1>Completa el formulario </h1>
            <p>
                <label class="uname" >Nombre de la Vacante:</label>
                <input type="text" name="apellido" th:value="*{nombreVacante}" class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label class="uname" >Nombre de compañia:</label>
                <input type="text" name="nombre" th:value="*{empresa}"  class="caja1" disabled="disabled"/>
            </p>

            <p>
                <label class="uname" >Pueto Vacante:</label>
                <input type="text" name="apellido" th:value="*{puestoVacante}"   class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label class="uname" >Ciudad:</label>
                <input type="text" name="direccion" th:value="*{localidad}" class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label class="uname" >Actividad:</label>
                <input type="text" name="telefono" th:value="*{actividad}"  class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label class="uname" >Area:</label>
                <input type="text" name="telefono" th:value="*{area}"   class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label class="uname" >Requisitos:</label>
                <input required="required" type="text" name="telefono" th:value="*{requisitos}"  disabled="disabled" class="caja2"/>
            </p>
            <p>
                <label class="uname" >Salario:</label>
                <input type="text" name="telefono" th:value="*{salario}"   class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label class="uname" >Horario:</label>
                <input type="text" name="telefono" th:value="*{horario}"  class="caja1" disabled="disabled"/>
            </p>
            <div  class="inicio aplicar" sec:authorize="hasRole('ROLE_CANDIDATO')">
                <a th:href="@{/formulario}">Aplicar Para Vacante</a>
            </div>

        </form>
    </div>
</section>
</body>
</html>