<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Formulario de Vacantes</title>
    <link rel="stylesheet" href="/css/formulario.css" />
</head>
<body>
<header>
    <div class="ancho">
        <div class="logo">
            <p><a th:href="@{/inicio}">RecruitWeb</a></p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>

            </ul>
        </nav>
    </div>
</header>

<section class="cuerpo">
    <div class="formulario">
        <form   th:object="${formulario}" method="post" autocomplete="on">
            <h1>Completa el formulario </h1>
            <p>
                <label class="uname" >Digita tu Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombreCandidato}" placeholder="Nombre" class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label class="uname" >Digita tus Apellidos:</label>
                <input type="text" name="apellido" th:field="*{apellido}" placeholder="Apellidos" class="caja1" disabled="disabled"/>
            </p>

            <p>
                <label class="uname" >Digita tu Direccion:</label>
                <input type="text" name="direccion" th:field="*{direccion}" placeholder="Direccion" class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label class="uname" >Digita tu Telefono:</label>
                <input type="text" name="telefono" th:field="*{telefono}" placeholder="Telefono" class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label for="emailForm" class="uname"  > Digita Tu email</label>
                <input id="emailForm" name="emailsignup" th:field="*{email}" class="caja1" required="required" type="email" placeholder="mysupermail@mail.com" disabled="disabled"/>
            </p>
            <p>
                <label for="emailForm" class="uname"  > Digita la Cedula:</label>
                <input type="text" name="puesto" th:field="*{cedula}" placeholder="Cedula" class="caja1" disabled="disabled"/>
            </p>
            <p>
                <label for="emailForm" class="uname"  > Digite El Salario que desea:</label>
                <input type="text" name="puesto" th:field="*{salarioDeseado}" placeholder="Salario Deseado" class="caja1" disabled="disabled"/>
            </p>

        </form>
    </div>
</section>

</body>
</html>